* {
    padding: 0;
    margin: 0;
    border-style: none;
    list-style: none;
    font-family: "黑体", sans-serif;
}

.main_box {
    border-radius: 5px;
    border: 1px solid cornflowerblue;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}

.input_txt {
    padding: 5px;
    margin: 10px;
    border-style: groove;
    border-radius: 5px;
}

.input_btn {
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.info {
    color: red;
}
